<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_nero_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="hardware_plugin" default="mock_components/GenericSystem" />
    <xacro:arg name="use_gz_sim" default="false" />
    <xacro:arg name="controllers_file" default="" />
    <xacro:arg name="use_sim_visuals" default="false" />
    <xacro:arg name="sim_system_plugin_filename" default="libign_ros2_control-system.so" />
    <xacro:arg name="sim_system_plugin_name" default="ign_ros2_control" />
    <xacro:arg name="robot_structure_xacro" default="dual_nero_column_only.xacro" />

    <!-- Import dual_nero_description urdf file -->
    <xacro:property name="use_sim_visuals" value="$(arg use_sim_visuals)" />
    <xacro:include filename="$(find dual_nero_description)/urdf/$(arg robot_structure_xacro)" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_nero_description.ros2_control.xacro" />


    <xacro:dual_nero_description_ros2_control
        name="FakeSystem"
        initial_positions_file="$(arg initial_positions_file)"
        hardware_plugin="$(arg hardware_plugin)"
        use_gz_sim="$(arg use_gz_sim)"
        controllers_file="$(arg controllers_file)"
        sim_system_plugin_filename="$(arg sim_system_plugin_filename)"
        sim_system_plugin_name="$(arg sim_system_plugin_name)"
    />

</robot>
