<?xml version="1.0"?>
<robot name="dual_nero_column_only" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim_visuals" default="true"/>
  <xacro:arg name="world_to_column_xyz" default="0 0 0"/>
  <xacro:arg name="world_to_column_rpy" default="0 0 0"/>
  <xacro:arg name="column_size" default="0.105 0.105 0.52"/>
  <xacro:arg name="column_visual_xyz" default="0 0 0.26"/>

  <xacro:arg name="head_base_xyz" default="0 0 0.52"/>
  <xacro:arg name="head_mesh" default="package://dual_nero_description/meshes/generated/column_head_trapezoid.stl"/>
  <xacro:arg name="top_bar_size" default="0.255 0.02 0.02"/>
  <xacro:arg name="top_bar_xyz" default="0 0 0.32"/>
  <xacro:arg name="side_box_size" default="0.02 0.08 0.095"/>
  <xacro:arg name="left_side_box_xyz" default="0.1375 0 0"/>
  <xacro:arg name="right_side_box_xyz" default="-0.1375 0 0"/>
  <xacro:arg name="enable_arms" default="true"/>
  <xacro:arg name="left_arm_mount_xyz" default="0.01 0 0"/>
  <xacro:arg name="left_arm_mount_rpy" default="0 -1.5708 3.14159"/>
  <xacro:arg name="right_arm_mount_xyz" default="-0.01 0 0"/>
  <xacro:arg name="right_arm_mount_rpy" default="0 -1.5708 0"/>

  <xacro:include filename="$(find dual_nero_description)/urdf/nero_single_arm_macro.xacro"/>

  <material name="column_silver">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <material name="head_gray">
    <color rgba="0.72 0.72 0.72 1.0"/>
  </material>

  <material name="box_white">
    <color rgba="0.95 0.95 0.95 1.0"/>
  </material>

  <link name="world"/>

  <link name="column">
    <visual>
      <origin xyz="$(arg column_visual_xyz)" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg column_size)"/>
      </geometry>
      <material name="column_silver"/>
    </visual>
    <collision>
      <origin xyz="$(arg column_visual_xyz)" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg column_size)"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_column" type="fixed">
    <parent link="world"/>
    <child link="column"/>
    <origin xyz="$(arg world_to_column_xyz)" rpy="$(arg world_to_column_rpy)"/>
  </joint>

  <link name="column_head">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(arg head_mesh)"/>
      </geometry>
      <material name="head_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="$(arg head_mesh)"/>
      </geometry>
    </collision>
  </link>

  <joint name="column_to_head" type="fixed">
    <parent link="column"/>
    <child link="column_head"/>
    <origin xyz="$(arg head_base_xyz)" rpy="0 0 0"/>
  </joint>

  <link name="top_bar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg top_bar_size)"/>
      </geometry>
      <material name="head_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg top_bar_size)"/>
      </geometry>
    </collision>
  </link>

  <joint name="head_to_top_bar" type="fixed">
    <parent link="column_head"/>
    <child link="top_bar"/>
    <origin xyz="$(arg top_bar_xyz)" rpy="0 0 0"/>
  </joint>

  <link name="left_side_box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg side_box_size)"/>
      </geometry>
      <material name="box_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg side_box_size)"/>
      </geometry>
    </collision>
  </link>

  <joint name="top_bar_to_left_side_box" type="fixed">
    <parent link="top_bar"/>
    <child link="left_side_box"/>
    <origin xyz="$(arg left_side_box_xyz)" rpy="0 0 0"/>
  </joint>

  <link name="right_side_box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg side_box_size)"/>
      </geometry>
      <material name="box_white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg side_box_size)"/>
      </geometry>
    </collision>
  </link>

  <joint name="top_bar_to_right_side_box" type="fixed">
    <parent link="top_bar"/>
    <child link="right_side_box"/>
    <origin xyz="$(arg right_side_box_xyz)" rpy="0 0 0"/>
  </joint>

  <xacro:if value="$(arg enable_arms)">
    <xacro:nero_single_arm
        prefix="left_"
        parent="left_side_box"
        xyz="$(arg left_arm_mount_xyz)"
        rpy="$(arg left_arm_mount_rpy)"
        use_sim_visuals="$(arg use_sim_visuals)"/>

    <xacro:nero_single_arm
        prefix="right_"
        parent="right_side_box"
        xyz="$(arg right_arm_mount_xyz)"
        rpy="$(arg right_arm_mount_rpy)"
        use_sim_visuals="$(arg use_sim_visuals)"/>
  </xacro:if>

</robot>
